/* Article */

#article-container {
    max-width: var(--art-width);
    margin-inline: auto;
    padding: 0rem var(--min-margin);
}

#toc-container+#article-container {
    float: right;
    margin-top: 0;
    margin-right: calc(var(--ext-margin) + var(--toc-width) + 2 * var(--toc-padding) + var(--min-margin));
    margin-bottom: 0;
    margin-left: var(--ext-margin);
}

#article-container>header {
    text-align: center;
    margin-bottom: 1.5rem;
}

#article-meta {
    color: var(--disabled-color);
}

audio {
    width: 100%;
}

/* Bouton d'impression */

button.print {
    margin: var(--meta-margin) auto 0rem auto;
}

/* Table des matières */

#toc-container {
    position: fixed;
    right: var(--ext-margin);
    width: var(--toc-width);
    margin-top: 1rem;
    font-size: 0.9rem;
    background-color: var(--background-color);
    border: var(--hr);
    border-radius: var(--small-border-radius);
    padding: 0 var(--toc-padding);
    list-style: none;
    color: var(--disabled-color);
    z-index: 1;
}

#toc-container>nav>ul {
    max-height: calc(85vh - 12rem);
    margin: 0.8rem 0 1.6rem 0;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#toc-container>nav>ul::-webkit-scrollbar {
    display: none;
}

#toc-container li {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#toc-container p {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

#toc-container li {
    margin-top: 0.5rem;
    margin-bottom: 0rem;
}

#toc-container>nav>ul>li {
    margin-left: 0rem;
}

#toc-container a {
    transition: 0.1s;
    color: var(--disabled-color);
    text-decoration-color: var(--hr-color);
}

#toc-container a:hover {
    color: var(--text-color);
    text-decoration-color: var(--text-color);
}

/* Tags */

#tags-container {
    border-top: var(--hr);
    border-bottom: var(--hr);
    padding: 0.6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    align-content: center;
    width: 90%;
    margin: var(--meta-margin) auto 0rem auto;
}

#tags-container:before {
    content: "Tags :"
}

/* Images */

img {
    max-width: 92%;
    max-height: 45rem;
    display: block;
    margin: 1rem auto 1rem auto;
}

/* Images */

img {
    max-width: 90%;
    max-height: 70vh;
    display: block;
    margin: 1.5rem auto;
    border-radius: 0.16rem;
}

img[alt="big"] {
    max-width: 100%;
    max-height: 90vh;
}

img[alt="small"] {
    max-width: 60%;
    max-height: 60vh;
}

/* Notes de bas de page */

a.footnote-ref,
a.footnote-backref:after,
a.footnote-backref {
    font-weight: 500;
    padding: 0.15rem;
    margin: 0.1rem;
    border-radius: 1rem;
    background-color: rgba(var(--main), 0.15);
    text-decoration: none;
    transition: var(--transition);
}

a.footnote-ref {
    vertical-align: top;
    position: relative;
    font-size: 0.8rem;
}

a.footnote-backref {
    visibility: hidden;
    display: inline-block;
    font-size: 0.0001rem;
}

a.footnote-backref:after {
    font-size: 0.8rem;
    content: "↑";
    visibility: visible;
    font-family: "Inter";
}

a.footnote-ref:hover,
a.footnote-backref:hover:after {
    background-color: rgba(var(--main), 0.3);
}

/* Breakpoints et print */

@media print {
    :root {
        --main: 0, 93, 255 !important;
        --text-num: 30 !important;
        --bg-num: 255 !important;
    }

    html {
        font-size: 12px;
    }

    #header,
    footer,
    audio,
    #tags-panel-container,
    #toc-container,
    #header-div-h,
    .button {
        display: none;
    }

    #article-container {
        max-width: calc(100% - 4 * var(--border-width));
        width: calc(100% - 4 * var(--border-width));
        float: none !important;
        margin: 0rem !important;
        padding: 0rem !important;
    }

    aside:not(+section),
    p>img {
        display: inline-block;
        break-inside: avoid;
        page-break-inside: avoid;
        position: relative;
        width: max-content;
        left: 50%;
        transform: translateX(-50%);
    }

    img {
        border: var(--small-border-width) solid var(--hr-color);
        max-width: 80%;
        max-height: 35vh;
        /* For an unknown reason, the rules below only work for images if it is repeated */
        display: inline-block;
        break-inside: avoid;
        page-break-inside: avoid;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    img[alt="big"] {
        max-width: 100%;
        max-height: 40vh;
    }

    img[alt="small"] {
        max-width: 60%;
        max-height: 30vh;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        width: 100%;
        /* display: inline-block;
        break-inside: avoid;
        page-break-inside: avoid;
        position: relative;
        break-after: avoid;
        page-break-after: avoid; */
    }

    a {
        text-decoration-color: rgb(var(--main), 0.8) !important;
        text-decoration-thickness: 0.05rem !important;
    }

    table thead {
        /* Propriétés pas encore supportées sur Firefox */
        break-after: avoid;
        page-break-after: avoid;
    }
}

@media (max-width: 60rem),
only screen and (hover: none) and (pointer: coarse) {

    #toc-container {
        display: none;
    }

    #toc-container+#article-container {
        position: static;
        right: auto;
        margin-inline: max(calc(50% - var(--art-width) / 2), var(--min-margin));
    }

}